{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Gadgets</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .account-page {
            padding: 50px 0;
            background-image: url("{% static 'images/banner bg image1.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>

{% block menu %}
{% include 'menu.html' %}
{% endblock menu %}

<div class="account-page" >
    <div class="container">
        <div class="row">

            <div class="col-2">


                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <!-- <form id="LoginForm" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="text" name="username" required placeholder="Username">
                        <input type="password" name="password" required placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form> -->

                    <form id="LoginForm" method="post" enctype="multipart/form-data" action="{% url 'login' %}">
                        {% csrf_token %}
                        <input type="text" name="username" required autocomplete="off" placeholder="Username" >
                        <input type="password" name="password" required autocomplete="off" placeholder="Password" >
                        
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" maxlength="10" minlength="3" required placeholder="Username">
                        <input type="email" name="email" required placeholder="Email">
                        <input type="password" name="password" required minlength="6" placeholder="Password">
                        <input type="text" name="address" minlength="5" required placeholder="Address">
                        <input type="text" name="phone" maxlength="10" minlength="6" required placeholder="Phone">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>

                    {% if messages %}
                    <div class="message-container">
                        {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
            
            </div>
            

            <div class="col-2">

             </div>
            
        </div>
    </div>
</div>


{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

<!-- javascript -->
<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>
<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");
    function register() {
        RegForm.style.transform = "translatex(0px)";
        LoginForm.style.transform = "translatex(0px)";
        Indicator.style.transform = "translateX(100px)";

    }
    function login() {
        RegForm.style.transform = "translatex(300px)";
        LoginForm.style.transform = "translatex(300px)";
        Indicator.style.transform = "translate(0px)";

    }

</script>
{% if register %}
    <script>
        register()
    </script>
    {% else %}
    <script>
       login()
    </script>
{% endif %}