{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Gadgets</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/jpg" href="{% static 'images/EG logo.jpg' %}">
</head>
{% block menu %}
{% include 'menu.html' %}
{% endblock menu %}

{% block content %}
{% if messages %}

    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}

{% else %}

{% include 'order_container.html' %}
{% endif %}
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>