{% load static %}
{% load chunks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Gadgets</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/jpg" href="{% static 'images/EG logo.jpg' %}">
</head>


<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{% static 'images/exclusive.png' %}" width="100%" id="ProductImg">

            

        </div>
        <div class="col-2">
            
            <h1>Smart Band</h1>
            <h4>3199</h4>
            
            
            <input type="number" value="1">
            <a href="" class="btn">Add To Cart</a>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>The Mi Smart Band 4 fearures a 39.9%larger (than Mi Band 3) AMOLED color full-touch display
                with adjustable brightness, so everything is clear as can be.</p>
        </div>
    </div>
</div>